.container {
  border: 1px solid #000;
  width: 50vw;
  height: 40vh;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease;
}

#checkbox {
  display: none;
}

#toggle-border {
  border: 2px solid #000;
  border-radius: 20px;
  min-width: 80px;
  height: 5vh;
  display: flex;
  align-items: center;
  padding: 0 3px;
}

.toggle-switch {
  background-color: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.5s;
}

#checkbox:checked ~ .toggle-switch {
 transform: translateX(calc(80px - 30px));
}