.circle {
  border: 24px solid #b6b4b4;
  border-top: 24px solid rgb(13, 104, 134);
  border-radius: 50%; 
  width: 200px;
  height: 200px;
  margin: 5rem auto;
  animation: loader 2s linear infinite;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}