.container {
  border: 1px solid #000;
  width: 500px;
  height: 300px;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  gap: 30px;
}

.image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  /* transform: translateX(-212%); */
  transition: all 1s ease;
}

#img-1 {
  background-color: #ff0000;
}

#img-2 {
  background-color: #ffff00;
}

#img-3 {
  background-color: #0000ff;
}

#img-4 {
  background-color: #000;
}

#img-5 {
  background-color: #5f0565;
}

.buttons {
  margin: 0 auto; 
  width: 500px;
  display: flex;
  justify-content: space-between;
}

#prev, #next {
  cursor: pointer;
}