* {
  box-sizing: border-box;
}

body {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-1 {
  border: 1px solid #000;
  border-radius: 5px;
  width: 40vw;
  height: 50vh;
  padding: 4rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 10rem;
  overflow: hidden;
}

#next {
  position: absolute;
  right: 8px;
  bottom: 50%;
}

#prev {
  position: absolute;
  left: 8px;
  bottom: 50%;
}

#next, #prev {
  cursor: pointer;
  border: none;
  background-color: #fff;
  font-size: 2rem;
}

#next:hover, #prev:hover {
  background-color: #808080;
}

div {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

#red {
  background-color: #ff0000;
}

#blue {
  background-color: #0000ff;
}

#yellow {
  background-color: #ffff00;
}