body {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  border: 1px solid #000;
  border-bottom: none;
  width: 500px;
  height: 50px;
  display: flex;
  background-color: #f1f1f1;
}

.tablink {
  border: none;
  background-color: #f1f1f1;
  width: 60px;
  cursor: pointer;
}

.active {
  background-color: #ccc;
}

.tablink:hover {
  background-color: #adacac;
}

.container {
  border: 1px solid #000;
  border-top: none;
  width: 500px;
  height: 100px;
}

.tabcontent {
  display: none;
  text-align: center;
  animation: fade .5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}