* {
  box-sizing: border-box;
}

body {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading-1 {
  border: 1px solid #000;
  width: 100%;
  height: 40vh;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
}

a {
  text-decoration: none;
  color: #000;
  position: relative;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
}

.heading-1 nav ul a::before {
  content: '';
  background-color: #000;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  transition: width 1s ease;
}

.heading-1 nav ul a:hover::before {
  width: 100%;
}